@import url(reset.css);

body {
    background-color: lightgrey;
}

form {
    width: 200px;
    height: 100px;
    margin: 100px auto 0;
}

label, input {
    width: 200px;
    height: 20px;

    display: block;
    margin: 20px;

    font-family: sans-serif;

    box-sizing: border-box;
}

div {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;

    box-sizing: border-box;

    font-family: sans-serif;
}
